@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Calendar Styles */
.rdp {
  --rdp-cell-size: 40px;
  --rdp-accent-color: #3b82f6;
  --rdp-background-color: #e5e7eb;
  margin: 1em;
}

.rdp-day_selected:not([disabled]) { 
  background-color: var(--rdp-accent-color);
  color: white;
}

.rdp-day_selected:hover:not([disabled]) {
  background-color: var(--rdp-accent-color);
  color: white;
}
